{% extends "layouts/base_dashboard.html" %}
{% block title %}Company Dashboard | Placyx{% endblock %}

{% block sidebar %}
    {% if current_user.company.logo %}
      <div class="text-center py-3">
          <img src="{{ url_for('static', filename='uploads/' + current_user.company.logo) }}"
              width="140"
              class="img-fluid">
      </div>
    {% endif %}
    <a href="/company/dashboard">📊 Dashboard</a>
    <a href="/company/job/create">➕ Post Job</a>
    <a href="/company/jobs">📄 My Jobs</a>
    <a href="/company/profile">⚙ Edit Profile</a>
    <a href="/logout">🚪 Logout</a>
{% endblock %}

{% block content %}

    <h2 class="mb-4">Company Analytics</h2>

    <div class="row g-4 mb-4">
        <div class="col-md-6">
            <div class="card p-4 text-center">
                <h6>Total Job Posts</h6>
                <h2>{{ total_jobs }}</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4 text-center">
                <h6>Total Applications</h6>
                <h2>{{ total_applications }}</h2>
            </div>
        </div>
    </div>


    <div class="row g-4">
                <div class="col-md-12">
                    <div class="card p-4">
                        <canvas id="applicationChart"></canvas>
                    </div>
                </div>
            </div>

    <script>
    const ctx2 = document.getElementById('applicationChart');

    new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Shortlisted', 'Selected', 'Rejected'],
            datasets: [{
                data: [{{ shortlisted }}, {{ selected }}, {{ rejected }}],
                backgroundColor: ['#7f3fbf', '#3f51b5', '#6a0dad']
            }]
        }
    });
    </script>

{% endblock %}