{% extends "layouts/base_dashboard.html" %}
{% block title %}My Jobs | Placyx{% endblock %}

{% block sidebar %}
    {% if current_user.company.logo %}
      <div class="text-center py-3">
          <img src="{{ url_for('static', filename='uploads/' + current_user.company.logo) }}"
              width="140"
              class="img-fluid">
      </div>
    {% endif %}
    <a href="/company/dashboard">📊 Dashboard</a>
    <a href="/company/job/create">➕ Post Job</a>
    <a href="/company/jobs">📄 My Jobs</a>
    <a href="/company/profile">⚙ Edit Profile</a>
    <a href="/logout">🚪 Logout</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mb-4 text-center">My Job Posts</h3>

        <table class="table table-bordered bg-white">
          <thead class="table-dark">
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Applications</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{ job.title }}</td>
              <td>{{ job.status }}</td>
              <td>
                <a href="/company/job/{{ job.id }}/applications" class="btn btn-sm btn-primary">
                  View Applicants
                </a>
                {% if job.status != "CLOSED" %}
                  <button class="btn btn-sm btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#closeModal{{ job.id }}">
                      Close Drive
                  </button>
                  {% else %}
                  <span class="badge bg-secondary">Closed</span>
                  {% endif %}
                  <!-- Modal -->
                  <div class="modal fade" id="closeModal{{ job.id }}" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <h5 class="modal-title">Confirm Closure</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                          Are you sure you want to close this placement drive?
                          This action cannot be undone.
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                                  data-bs-dismiss="modal">
                            Cancel
                          </button>

                          <a href="/company/job/{{ job.id }}/close"
                            class="btn btn-danger">
                            Confirm Close
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
{% endblock %}