{% extends "layouts/base_dashboard.html" %}
{% block title %}Applicants | Placyx{% endblock %}

{% block sidebar %}
    {% if current_user.company.logo %}
      <div class="text-center py-3">
          <img src="{{ url_for('static', filename='uploads/' + current_user.company.logo) }}"
              width="140"
              class="img-fluid">
      </div>
    {% endif %}
    <a href="/company/dashboard">📊 Dashboard</a>
    <a href="/company/job/create">➕ Post Job</a>
    <a href="/company/jobs">📄 My Jobs</a>
    <a href="/company/profile">⚙ Edit Profile</a>
    <a href="/logout">🚪 Logout</a>
{% endblock %}

{% block content %}
  <div class="container mt-5">

    <h3 class="mb-4 text-center">Applicants – {{ job.title }}</h3>

    <table class="table table-bordered bg-white">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Branch</th>
          <th>CGPA</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for app in applications %}
        <tr>
          <td>{{ app.student.name }}</td>
          <td>{{ app.student.branch }}</td>
          <td>{{ app.student.cgpa }}</td>
          <td>
            {% if app.status == "SELECTED" %}
              <span class="badge bg-success">Selected</span>
            {% elif app.status == "SHORTLISTED" %}
              <span class="badge bg-info">Shortlisted</span>
            {% elif app.status == "REJECTED" %}
              <span class="badge bg-danger">Rejected</span>
            {% else %}
              <span class="badge bg-secondary">Applied</span>
            {% endif %}
          </td>
          <td>
          {% if job.status == "CLOSED" %}
              <span class="badge bg-secondary">Drive Closed</span>
          {% else %}
            {% if app.status == "APPLIED" %}
              <a href="{{ url_for('shortlist_application', app_id=app.id) }}"
                class="btn btn-warning btn-sm">
                Shortlist
              </a>

              <a href="{{ url_for('reject_application', app_id=app.id) }}"
                class="btn btn-danger btn-sm">
                Reject
              </a>

              <a href="{{ url_for('select_student', app_id=app.id) }}"
                class="btn btn-success btn-sm">
                Select
              </a>
            {% elif app.status == "SHORTLISTED" %}
              <a href="{{ url_for('reject_application', app_id=app.id) }}"
                class="btn btn-danger btn-sm">
                Reject
              </a>

              <a href="{{ url_for('select_student', app_id=app.id) }}"
                class="btn btn-success btn-sm">
                Select
              </a>
              <button class="btn btn-warning btn-sm" disabled>Shortlisted</button>
            {% elif app.status == "REJECTED" %}
              <button class="btn btn-danger btn-sm" disabled>Rejected</button>
            {% elif app.status == "SELECTED" %}
              <button class="btn btn-success btn-sm" disabled>Selected</button>
            {% endif %}
            
            <a href="{{ url_for('company_view_candidate', app_id=app.id) }}"
              class="btn btn-outline-primary btn-sm">
              View Details
            </a>
          {% endif %}
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
